<!DOCTYPE html>
<html>
  <head>
    <title>Blobface</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render 'layouts/navbar'%>
  <div class="container text-center">
   <p class="notice text-center" style="color: green"><%= notice %></p>
       <p class="alert text-center" style="color: red"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
